body {
    margin: 0;
    padding: 0;
}

.bg_image {
    border-radius: 45px 0px 0px 45px;
    width: 100%;
    margin-top: 1rem;
}

.text {
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.main-text {
    font-weight: 500;
    font-size: 32px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.mb-60 {
    margin-bottom: 60px;
}

.fw-500 {
    font-weight: 500;
}

.btn-primary {
    background-color: #3A5B22;
    border-color: #3A5B22;
    width: 100%;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #2F4B18;
    border-color: #2F4B18;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mb-3.form-check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}